@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --clr-primary-400: hsl(215, 51%, 70%);
  --clr-primary-300: hsl(178, 100%, 50%);

  --clr-neutral-900: hsl(217, 54%, 11%);
  --clr-neutral-700: hsl(216, 50%, 16%);
  --clr-neutral-400: hsl(215, 32%, 27%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  
  --fs-default: 18px;
  --ff-default: 'Outfit', sans-serif;

  --fw-thin: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}